.header-styling
  %h1 Welcome to PAUABus
  %p Please book your trip here:

  .form-group.col-md-6
  = simple_form_for :trip, html: { class: 'form-horizontal' }, url: trips_calculate_path do |form|
    .col-sm-6
      .form-group
        = form.input :origin_city, label: 'Origin City', collection: @cities.each(&:name), include_blank: false
        = form.input :destination_city, label: 'Destination City', collection: @cities.each(&:name), include_blank: false

        = form.submit 'Check available trips', class: 'btn btn-outline-info'
